.button {
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  display: grid;
  place-items: center;
  padding: .875em 1.5em;
  background-color: var(--color-orange);
  border: none;
  border-radius: 999px;
  font-family: var(--font-family-font-family-body);
  font-size: var(--font-size-1);
  font-weight: 500;
  white-space: nowrap;
  color: var(--color-white);
  cursor: pointer;
  transition: all .2s ease;
  --padding-block: .875em;
  --padding-inline: 3em;

  &[data-size="sm"] {
    font-size: var(--font-size-0);
  }

  &[data-size="lg"] {
    font-size: var(--font-size-3);
  }

  .buttonText {
    display: block;
    text-box: trim-both cap alphabetic;
  }

  .buttonContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5em;
    height: 1em;
    text-box: trim-both cap alphabetic;

    > *{
      display: block;
      text-box: trim-both cap alphabetic;
    }
  }

  svg,
  img {
    display: block;
    width: auto;
    height: 1.1em;
  }

  &:disabled {
    pointer-events: none;
  }



  /*
   * Primary
   */
  &[data-variant="primary"] {
    &:before {
      content: '';
      position: absolute;
      inset: .25em;
      transform: translateY(.5em);
      border-radius: inherit;
      background-color: inherit;
      opacity: .5;
      filter: blur(1em);
      z-index: -1;
      pointer-events: none;
    }

    &:hover,
    &:focus-visible {
      transform: translateY(-.25em);
      opacity: 0.9;
    }
  }
  
  
  
  /*
   * Outline
   */
  &[data-variant="outline"] {
    background-color: transparent;
    outline: solid 2px var(--color-orange);
    outline-offset: -2px;
    color: var(--color-orange);

    &:hover,
    &:focus-visible {
      background-color: var(--color-orange);
      color: var(--color-white);
    }
  }



  /*
   * Green
   */
   &[data-variant="green"] {
    background-color: var(--color-green);

    &:hover,
    &:focus-visible {
      opacity: 0.9;
    }
  }



  /*
   * Ghost
   */
   &[data-variant="ghost"] {
    background-color: rgba(255, 255, 255, 0.1);
    outline: solid 1px rgba(255, 255, 255, 0.3);
    outline-offset: -1px;
    backdrop-filter: blur(4px);

    &:hover,
    &:focus-visible {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }
}