@use "variables";

html{
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow: visible;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*----------------------------------------*/
/* TYPOGRAPHY
/*----------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair-display);
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-7);
}

h2 {
  font-size: var(--font-size-6);
}

p {
  line-height: 1.4;
}

small {
  font-size: var(--font-size-0);
}

a {
  color: inherit;
}