/*----------------------------------------*/
/* COLORS
/*----------------------------------------*/

:root {
  --color-white: #FFFBF7;
  --color-light-gray: #f9fafb;
  --color-gray: #4b5563;
  --color-black: #1F1A17;
  --color-brown: #3B2F2F;
  --color-light-orange: #FDEEDC;
  --color-orange: #D97706;
  --color-light-yellow: #fef9c3;
  --color-yellow: #facc15;
  --color-green: #4D7C5D;
  --color-pink: #FCE7F3;
}



/*----------------------------------------*/
/* TYPOGRAPHY
/*----------------------------------------*/

:root {
  --font-size-0: clamp(0.6944rem, 0.6596rem + 0.1739vw, 0.8rem);
  --font-size-1: clamp(0.8333rem, 0.7778rem + 0.2778vw, 1rem);
  --font-size-2: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --font-size-3: clamp(1.2rem, 1.0674rem + 0.6630vw, 1.5625rem);
  --font-size-4: clamp(1.44rem, 1.2413rem + 0.9935vw, 1.9531rem);
  --font-size-5: clamp(1.728rem, 1.4374rem + 1.4529vw, 2.4414rem);
  --font-size-6: clamp(2.0736rem, 1.6573rem + 2.0815vw, 3.0518rem);
  --font-size-7: clamp(2.4883rem, 1.9022rem + 2.9304vw, 3.8147rem);
}