$section-edge-width: .5rem;

/*----------------------------------------*/
/* FOOTER
/*----------------------------------------*/
.footer {
  display: flex;
}



/*----------------------------------------*/
/* MAIN CONTENT
/*----------------------------------------*/
.section {
  position: relative;
  overflow: hidden;

  &:not(.sectionHero) {
    margin-top: calc(#{$section-edge-width * -1});
    clip-path: polygon(
      0% #{$section-edge-width * .75},
      12.5% #{$section-edge-width * .25},
      31.67% #{$section-edge-width},
      43.33% 0%,
      65% #{$section-edge-width * .75},
      79.17% #{$section-edge-width * .125},
      93.33% #{$section-edge-width * .625},
      100% #{$section-edge-width * .375},
      100% 100%,
      0% 100%
    );
  }
  
  .sectionContent {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 6rem 2rem;
    z-index: 1;
  }
}

.videoBackground {
  position: absolute;
  inset: 0;
  z-index: -1;
}



/*----------------------------------------*/
/* SECTION-SPECIFIC
/*----------------------------------------*/

/* Hero section */
.section.sectionHero {
  color: var(--color-white);

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 0;
  }

  .contentContainer {
    max-width: 42rem;
    margin-left: 0;
  }

  .heading {
    margin-bottom: 2rem;

    span {
      position: relative;

      svg {
        position: absolute;
        bottom: -.15em;
        left: 0;
        width: 100%;
        height: .75rem;
        color: var(--color-orange);
        opacity: 0.6;
      }
    }
  }

  .subHeading {
    font-size: var(--font-size-3);
    margin-bottom: 2rem;
    opacity: 0.8;
  }

  .ctaList {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-bottom: 1.5rem;

    @media(min-width: 640px) {
      flex-direction: row;
    }
  }

  .disclaimer {
    opacity: .6;
    font-style: italic;
  }
}



/* Problem section */
.section.sectionProblem {
  background-color: var(--color-light-orange);

  .heading {
    margin: 0 0 1.5rem 0;
    text-align: center;
    text-wrap: balance;
  }

  .subHeading {
    margin: 0 0 3rem 0;
    font-size: var(--font-size-2);
    color: var(--color-gray);
    text-align: center;
    text-wrap: balance;
  }

  .cards {
    align-self: stretch;

    img {
      align-self: flex-start;
      height: 4rem;
      width: auto;
    }

    h3 {
      font-size: var(--font-size-4);
    }

    p {
      color: var(--color-gray);
    }
  }
}