.cardGroup {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 2rem;

  @media(min-width: 768px) {
    flex-direction: row;
  }
}

.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.03) 0px 2px 4px 0px;

  &[data-color="white"] {
    background-color: var(--color-white);
  }

  &[data-color="gray"] {
    background-color: var(--color-light-gray);
  }

  &[data-color="orange"] {
    background-color: var(--color-light-orange);
  }

  &[data-color="yellow"] {
    background-color: var(--color-light-yellow);
  }

  &[data-color="pink"] {
    background-color: var(--color-pink);
  }

  @media(min-width: 768px) {
    width: 0;
  }
}