$header-edge-width: .55rem;

.header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);
  z-index: 100;
  clip-path: polygon(
    0% 0%,
    0% calc(100% - #{$header-edge-width * .5}),
    8.33% calc(100% - #{$header-edge-width}),
    16.67% calc(100% - #{$header-edge-width * .25}),
    25% calc(100% - #{$header-edge-width * .75}),
    33.33% 100%,
    41.67% calc(100% - #{$header-edge-width * .75}),
    50% calc(100% - #{$header-edge-width * .25}),
    58.33% calc(100% - #{$header-edge-width}),
    66.67% 100%,
    75% calc(100% - #{$header-edge-width * .75}),
    83.33% calc(100% - #{$header-edge-width * .25}),
    91.67% calc(100% - #{$header-edge-width * .75}),
    100% calc(100% - #{$header-edge-width * .50}),
    100% 0%
  );

  .headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem 1rem calc(2rem + #{$header-edge-width / 2}) 1rem;
  }

  .logo {
    display: block;
    transition: transform .3s ease;

    &:hover,
    &:focus-visible {
      transform: scale(1.05);
    }

    img {
      display: block;
      height: 3.5rem;
      width: auto;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    a:not([data-variant]) { /* Only style links that aren't buttons */
      color: var(--color-gray);
      text-decoration: none;
      font-weight: 500;
      transition: color .2s ease;

      &:hover,
      &:focus-visible {
        color: var(--color-orange);
      }
    }
  }

  ~ main {
    margin-top: calc(#{$header-edge-width * -1});
  }
}